* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #D67233;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #E7E5D8;
}

.disabledbutton {
  pointer-events: none;
}

ul li {
  list-style-type: none;
}

.hidden {
  display: none;
}

/* =============== HEADER ================== */
header .container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-row-gap: 10px;
  padding-top: 20px;
}

header h1 {
  align-self: center;
  padding: 0;
  font-size: 2.3em;
  margin: 0;
  font-family: 'Walter Turncoat', cursive;
  color: #CA9429;
  font-variant: small-caps;
  text-align: center;
  line-height: 1em;
}

/* =============== Logo ================== */
.logo-img {
  text-align: center;
  align-self: center;
}

.logo-img img {
  width: 100%;
  height: auto;
}

#logo-img-left img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#logo-img-right {
  display: none;
}

/* =============== Settings ================================================= */
#settings {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  margin: 0;
  background-color: #C5E3C3;
}

#settings h4 {
  color: #441E00;
  margin-right: 20px;
  letter-spacing: 1px;
}

#settings h4,
#settings .difficulty-btn {
  font-family: 'Amatic SC', cursive;
  font-size: 1.2em;
}
#settings ul li {
  display: inline-block;
  padding: 0 10px;
}

#settings .difficulty-btn {
  border: none;
  background: none;
  outline: none;
  color: #38B34A;
  font-variant: normal;
  text-transform: lowercase;
  letter-spacing: 1px;
}

#settings .difficulty-btn:hover {
  color: #E64100;
  font-weight: bold;
}

#settings .active {
  color: #E64100;
  font-weight: bold;
}

#settings,
#timer {
  grid-column: 1/ -1;
}

/* ====================== Timer ============================================= */

#timer {
  font-family: 'Walter Turncoat', cursive;
  padding: 7px 15px;
  font-size: 1.4em;
  line-height: 1.1;
  letter-spacing: 3px;
  color: #fff;
  background: #D5D5CB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#timer hr {
  border: 2px solid #DA7D3A;
}

/* current time */
#timer p:nth-child(2) {
  color: #D09E2E;
  grid-row: 1 / 2;
}

/* best time */
#timer p:nth-child(3) {
  color: #E94D59;
  font-weight: bold;
  grid-row: 2 / 3;
}

#timer p:nth-child(2),
#timer p:nth-child(3) {
  grid-column: 2 / 3;
  justify-self: start;
}

/* ====================== MAIN AREA ========================================= */
main {
  flex: 2;
}

main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#rules {
  text-align: left;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  color: #D88054;
  margin-top: 30px;
}


#stage {
  display: grid;
  grid-gap : 10px;
}

.img-container {
  background: #A55620;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3 );
}

.image {
  width: 100%;
  height: 100%;
  border: 2px solid #D57132;
  opacity: 0;
}

.image,
button {
  cursor: pointer;
}

.visible {
  opacity: 1;
}

/* =============== GAME OVER ================== */
#play-again {
  font-family: 'Amatic SC', cursive;
  /*width: 60%;*/
  height: 300px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0 10px;
  background: #fff;
  text-align: center;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: absolute;
}

#play-again button {
  margin: 0 20px;
  font-size: 1.3em;
  padding: 10px 15px;
}

#play-again button,
#stop-reset-btn {
  font-family: 'Amatic SC', cursive;
  border-radius: 10px;
  border: none;
  background-color: #CB9328;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

#stop-reset-btn {
  padding: 7px 10px;
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  font-size: 1em;
}

#play-again button:hover,
#stop-reset-btn:hover {
  background-color: #F26421;
}

.message {
  font-family: 'Amatic SC', cursive;
  margin: 0 0 20px;
  font-weight: bold;
  padding: 50px 0 20px;
  font-size: 4em;
  color: #D88054;
  text-transform: uppercase;
}

#thanks {
  text-align: center;
}
/* =============== FOOTER ================== */
footer .container {
  text-align: center;
  border-top: 1px solid #9F7D5B;
  padding: 40px 0;
}

footer p {
  color: #441E00;
  padding: 5px 0;
  font-size: 0.875em;
}

footer a {
  text-decoration: none;
  color: #D09E2E;
}

footer a:hover {
  color: #E64100;
}

/* =============== MEDIA QUERIES ================== */
/* @media screen and (max-width: 359px) {
  header h1 {
    font-size: 1.7em;
  }
} */

@media screen and (min-width: 450px) {
  header .container {
    grid-template-columns: 100px 1fr 100px;
  }

  header h1 {
    font-size: 2.6em;
  }

  .logo-img {
    justify-self: center;
  }

  #logo-img-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #logo-img-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: block;
  }

  #settings {
    padding: 3px 0;
  }

  #settings,
  #timer {
    width: 80%;
    margin: 0 auto;
  }

  #stop-reset-btn {
    justify-self: end;
    margin-right: 20px;
  }

  #play-again {
    padding: 0 100px;
  }
}

@media screen and (min-width: 700px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  header h1 {
    font-size: 4em;
  }

  #timer {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }

  #timer p:nth-child(2),
  #timer p:nth-child(3) {
    align-self: center;
  }

  #timer p:nth-child(2) {
    justify-self: center;
  }

  #timer p:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: start;
  }

  #stop-reset-btn {
    grid-row : 1 / 2;
    margin: 5px;
  }
}
